@model QuizApp.Models.Quiz

<div class="quiz-container">
    <h1>@Model.Title</h1>

    <form method="post" action="/Home/SubmitQuiz">
        @foreach (var question in Model.Questions)
        {
            <div class="question-block">
                <h3>@question.Text</h3>
                <ul>
                    @for (int i = 0; i < question.Options.Count; i++)
                    {
                        <li>
                            <input type="radio" name="question_@question.Id" value="@i" id="question_@question.Id@i" />
                            <label for="question_@question.Id@i">@question.Options[i]</label>
                        </li>
                    }


                </ul>
            </div>
        }
        <button type="submit">Submit Quiz</button>
    </form>
</div>
