@{
    ViewData["Title"] = "Select a Quiz";
}

<h1>Select a Quiz</h1>

<form method="post" action="/Home/LoadQuiz">
    <div>
        <label>
            <input type="radio" name="quizFileName" value="quiz.json" checked />
            Programming Quiz
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="quizFileName" value="ecommerce_quiz.json" />
            E-commerce Management Concepts
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="quizFileName" value="business_management_terminology.json" />
            Business Management Terminology
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="quizFileName" value="technical_knowledge_and_terminology.json" />
            Technical Knowledge and Terminology
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="quizFileName" value="scenario-based-questions.json" />
            Scenario-Based Questions
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="quizFileName" value="erp_asp_net_core_quiz.json" />
            Comprehensive ERP and ASP.NET Core Quiz
        </label>
    </div>
    <button type="submit">Start Quiz</button>
</form>
