@model List<string>

@{
    ViewData["Title"] = "Study Files";
}

<div class="study-files-container">
    <h1>Study Files</h1>

    <ul class="list-group">
        @foreach (var fileName in Model)
        {
            <li class="list-group-item">
                <a asp-action="StudyFile" asp-route-fileName="@fileName">@fileName</a>
            </li>
        }
    </ul>
</div>
